@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-mono flex flex-col h-screen justify-between font-mono antialiased bg-gris;
}

.container {
  @apply max-w-5xl mx-auto;
}

.section {
  @apply flex flex-col w-full p-4;
}

header {
  z-index: 11;
  @apply bg-oscuror h-auto mb-12 sticky top-0 w-full;
}

header .container {
  @apply flex flex-col md:flex-row justify-between py-6;
}

.header__logo {
  @apply w-full;
}

.header__nav {
  @apply w-full my-auto;
}
.header__nav nav {
  @apply w-full flex flex-row gap-6 justify-center md:justify-end;
}

main {
  @apply relative flex flex-col mt-12 gap-y-12 divide-dwight divide-y;
}

footer {
  @apply bg-oscuror relative bottom-0 w-full;
}
footer .container {
  @apply flex-none text-dwight px-4 md:px-8 py-8 items-center;
}

.button {
  padding: 0.5rem 1rem;
  display: inline-flex;
  border-width: 1px;
  border-color: transparent;
  @apply bg-black text-dwight rounded-md tracking-tight justify-center;
}
